<div class="timer-body  col-md-4 col-md-offset-2">
  <div class="step-timer"></div>
  <div class="timer-cover"></div>
  <div class="timer-cover timer-message">
    <p>
      Time's Up!
    </p>
  </div>
</div>


<div class="timer-controls">
  <div class="button play-button">
    <span class="play glyphicon glyphicon-play"></span>
  </div>

  <div class="button restart-timer">
    <span class="glyphicon glyphicon-refresh"></span>
  </div>

  <div class="remove-item delete-timer">
    <span class="glyphicon glyphicon-trash"></span>
  </div>
</div>
