<div class="step-timer"></div>
<div class="timer-cover">
  <p>
    Time's Up!
  </p>
</div>
<div class="timer-controls">
  <div class="play-button">
    <span class="glyphicon glyphicon-play"></span>
  </div>

  <div class="restart-timer">
    <span class="glyphicon glyphicon-refresh"></span>
  </div>

  <div class="close-timer">
    <span class="glyphicon glyphicon-remove"></span>
  </div>
</div>
