<div class="col-md-9 step-main">
  <div class="col-md-1 step-rank">
    <p><%= step.escape('rank') %>.</p>
  </div>

  <div class="col-md-11 editable">
    <div class="row step-body"><p><%= step.escape("body") %></p></div>
    <div class="row timer-form"></div>
    <div class="row video-form"></div>
    <div class="step-timer-wrapper"></div>
    <div class="step-video-wrapper row"></div>
  </div>

</div>


<div class="col-md-3 edit-tab edit-step-tab">
  <% if (currentUserId === parseInt(step.recipe.escape("owner_id"))) { %>
    <div class="row">
      <div type="button" class="edit-step edit-button">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
    </div>
  <% } %>

  <div class="row annotation-buttons">
    <div type="button" class="add-timer">
      <span class="glyphicon glyphicon-time"></span>
    </div>
    <div type="button" class="add-video">
      <span class="glyphicon glyphicon-facetime-video"></span>
    </div>
  </div>
</div>
