<div class="col-md-9 step-main">
  <div class="col-md-1 step-rank">
    <p><%= step.escape('rank') %>.</p>
  </div>

  <div class="col-md-11 editable">
    <div class="row step-body"><p><%= step.escape("body") %></p></div>
    <div class="row timer-form-wrapper"></div>
    <div class="row step-timer-wrapper"></div>
    <div class="row video-form-wrapper"></div>
    <div class="step-video-wrapper row"></div>
  </div>

</div>


<div class="col-md-3 edit-tab edit-step-tab">
  <% if (currentUserId === parseInt(step.escape("owner_id"))) { %>
    <div class="row">
      <button class="control edit-step edit-item"></button>
    </div>
  <% } %>

  <div class="row annotation-buttons">
    <button class="control add-timer"></button>
    <button class="control add-video"></button>
  </div>
</div>
