<div class="edit-component">
  <div class="col-md-9 step-main">
    <div class="col-md-1 step-rank">
      <p><%= step.escape("rank") %>.</p>
    </div>

    <div class="col-md-11 editable">
        <textarea
        rows="4"
        class="step-form editable form-control"><%= step.escape("body") %></textarea>
    </div>
  </div>

  <div class="step-edit-buttons col-md-3">
    <% if (step.recipe.id) { %>
      <div class="save-item">
        <span class="glyphicon glyphicon-ok"></span>
      </div>
    <% } %>
    <div class="remove-item remove-step">
      <span class="glyphicon glyphicon-trash"></span>
    </div>
    <div class="button edit-btn"></div>
  </div>
</div>
