
<div class="col-md-1 col-md-offset-1">
  <div type="button" class="edit-step edit-button">
    <span class="glyphicon glyphicon-pencil"></span>
  </div>
</div>

<div class="col-md-1">
  <p><%= step.escape('rank') %>.</p>
</div>

<div class="col-md-7 step-body editable">
  <p><%= step.escape("body") %></p>
  <% if (step.escape("timer")) { %>
    <span class="glyphicon glyphicon-time"></span>
  <% } %>
</div>

<div class="col-md-2 step-timer-wrapper"></div>
