<div class="col-lg-3 col-s-4 col-s-offset-4">
  <div class="input-group">
    <input class="form-control hours" type="number"
           min="0" max="10" value="<%= Math.floor(timer / 3600) || 0 %>">
    <span class="input-group-addon">h</span>
  </div>
</div>

<div class="col-lg-3 col-s-4 col-s-offset-4">
  <div class="input-group">
    <input class="form-control minutes" type="number"
           min="0" max="59" value="<%= Math.floor((timer % 3600) / 60) || 0 %>">
    <span class="input-group-addon">m</span>
  </div>
</div>

<div class="col-lg-3 col-s-4 col-s-offset-4">
  <div class="input-group">
    <input class="form-control seconds" type="number"
           min="0" max="59" value="<%= timer % 60 || 0 %>">
    <span class="input-group-addon">s</span>
  </div>
</div>

<div class="col-lg-3 col-s-4 col-s-offset-4">
  <div class="save-item submit-timer">
    <span class="glyphicon glyphicon-ok"></span>
  </div>
  <div class="remove-item remove-timer-form">
    <span class="glyphicon glyphicon-remove"></span>
  </div>
</div>
