<div class="row">
  <iframe class="step-video" src="//www.youtube.com/embed/<%= step.escape('video_url') %>"
    frameborder="0" allowfullscreen></iframe>
</div>

<div class="row">
  <div class="remove-item delete-video">
    <span class="glyphicon glyphicon-trash"></span>
  </div>
</div>
