<span class="editable">
  <div class="col-md-2 edit-amount">
    <p><%= entry.escape('amount') %> <%= entry.escape('fraction') %> <%= entry.escape('unit') %></p>
  </div>
  <div class="col-md-10 edit-ingredient">
    <p><%= entry.escape('ingredient') %></p>
    <div type="button" class="edit-entry edit-button">
      <span class="glyphicon glyphicon-pencil"></span>
    </div>
  </div>
</span>
