
  <div class="col-md-1 col-md-offset-2">
    <div type="button" class="edit-entry edit-button">
      <span class="glyphicon glyphicon-pencil"></span>
    </div>
  </div>

  <div class="col-md-9 edit-ingredient editable">
      <p><%= entry.escape('amount') %>
      <%= entry.escape('fraction') %>
      <%= entry.escape('unit_display') %>
      <span class="ingredient-name"><%= entry.escape('ingredient_name') %></span>
      </p>
  </div>
