<span class="editable">
  <div class="entry-main col-md-9">
    <p><%= entry.escape('amount') %>
    <%= entry.escape('fraction') %>
    <%= entry.escape('unit_display') %>
    <span class="ingredient-name"><%= entry.escape('ingredient_name') %></span>
    </p>
  </div>

  <% if (currentUserId === parseInt(entry.escape("owner_id"))) { %>
  <div class="col-md-3 edit-entry-tab edit-tab">
    <button class="edit-entry control edit-item"></button>
  </div>
  <% } %>
</span>
