<span class="editable">
  <div class="col-md-12 edit-ingredient">
    <p><%= entry.escape('amount') %> <%= entry.escape('fraction') %> <%= entry.escape('unit') %> <%= entry.escape('ingredient_name') %></p>
    <div type="button" class="edit-entry edit-button">
      <span class="glyphicon glyphicon-pencil"></span>
    </div>
  </div>
</span>
