<h2>Sign up</h2>

<form action="<%= users_url %>" method="post" class="form-horizontal">
  <%= form_auth_token %>
  <div class="form-group">
    <label for="user_username" class="col-md-2">Username</label>
    <input class="form-control"
           name="user[username]"
           value="<%=  %>"
           id="user_username">
  </div>

  <div class="form-group">
    <label for="user_password" class="col-md-2">Password</label>
    <input type="password" name="user[password]"
           class="form-control" id="user_password">

    <input type="submit" value="Sign Up" class="btn btn-primary pull-right">
  </div>

</form>
