<div class="img-placeholder row">
  <div class="col-md-10 col-md-offset-1 form-group">
    <label for="photo-input">Photo Url</label>
    <input id="photo-input"
           class="form-control"
           value="<%= recipe.escape('photo_url') %>">
  </div>
</div>
