<div class="recipe-header row">
  <div class="col-md-3 col-s-10 col-s-offset-1">
    <div class="editable title-card">
      <h2 class="recipe-title"><%= recipe.escape('title') %></h2>
      <% if (currentUserId === parseInt(recipe.escape("owner_id"))) { %>
        <h4>
          added by you!
        </h4>
      <button class="control edit-title edit-item"></button>
      <% } else { %>
        <h4>
          added by <%= recipe.escape("owner") %>
        </h4>
        <% } %>
    </div>
  </div>

  <div class="col-md-8 col-s-12">
    <div id="recipe-show-img">
      <% if (recipe.escape('photo_url')) {%>
        <img src="<%= recipe.escape('photo_url') %>"
             alt="<%= recipe.escape('title') %>"
             class="img-responsive editable" />
      <% } else {  %>
        <div class="img-placeholder">
          <% if (currentUserId === parseInt(recipe.escape("owner_id"))) { %>
            <h3>Add a photo</h3>
          <% } else {%>
            <h3>No photo yet</h3>
          <% } %>
        </div>
      <% } %>
      <% if (currentUserId === parseInt(recipe.escape("owner_id"))) { %>
      <button class="control edit-photo edit-item"></button>
      <% } %>
    </div>
  </div>
</div>

<div class="recipe-body">
  <div class="ingredients-wrapper row">
        <div class="col-md-3 col-s-1">
          <div class="bubble">
            <h3>Ingredients</h3>
          </div>
        </div>
        <div class="col-lg-9 col-md-9">
          <div id="ingredient-entries"></div>
      <% if (currentUserId === parseInt(recipe.escape("owner_id"))) { %>
          <div class="add-item-tab row add-entry">
            <div class="add-item-wrapper col-md-9">
              <div class="show-add-item">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <p>add ingredient</p>
              </div>
            </div>
          </div>
          <% } %>
        </div>
    </div><!-- ingredients-wrapper -->


  <div class="steps-wrapper row">
        <div class="col-md-3 col-lg-3">
          <div class="bubble">
            <h3>Directions</h3>
          </div>
        </div>
      <div class="col-md-9 col-lg-9">
        <div id="recipe-steps" class="recipe-show-steps"></div>
        <% if (currentUserId === parseInt(recipe.escape("owner_id"))) { %>
          <div class="add-item-tab add-step row">
            <div class="add-item-wrapper col-md-9">
              <div class="show-add-item">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <p>add step</p>
              </div>
            </div>

          </div>
          <% } %>
        </div>
      </div>
    </div><!-- steps-wrapper -->
</div><!-- recipe-body -->
