<% if (errors.length > 0) { %>
  <div class="alert alert-warning">
    <ul>
      <% _.each(errors, function(error) { %>
        <li><%= error %></li>
        <% }) %>
    </ul>
  </div>
<% } %>

<div class="row randomator">
  <div class="col-md-6 col-md-offset-3">
    <button id="random-recipe">
      <h4>Can't think of a recipe?</h4>
      <h1>random recipe generator</h1>
    </button>
  </div>
</div>

<form class="form-horizontal col-lg-10 col-lg-offset-1">
  <div id="form-title" class="col-md-3">
    <h1 class="bubble">Add a Recipe</h1>
  </div>
  <div id="form-header" class="col-md-9">
    <div class="form-group">
      <% if (recipe.id) { %>
        <input class="form-control title-input"
               value="<%= recipe.escape('title') %>"
               name="recipe[title]" id="recipe_title">
      <% } else { %>
        <input class="form-control title-input"
               placeholder="recipe title"
               name="recipe[title]" id="recipe_title">
       <% } %>
    </div>



    <div class="form-group">
        <% if (recipe.id) { %>
         <input class="form-control"
                value="<%= recipe.escape('photo_url') %>"
                name="recipe[photo_url]" id="recipe_photo_url">
       <% } else { %>
         <input class="form-control"
                placeholder="recipe photo_url"
                name="recipe[photo_url]" id="recipe_photo_url">
        <% } %>
    </div>
  </div>

  <div class="col-md-3">
    <h3 class="bubble">Ingredients</h3>
  </div>

  <div class="col-md-9">
    <div id="new-ingredients"></div>
    <div class=row>
      <div class="add-entry add-item col-lg-12">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <h3 class="bubble">Directions</h3>
  </div>

  <div class="col-md-9">
    <div id="recipe-steps"></div>
    <div class=row>
      <div class="add-step add-item col-lg-12">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </div>
    </div>
  </div>

    <div class="col-md-12">
      <input type="submit" id="submit"
             class="btn btn-info btn-lg pull-right" value="Submit Recipe">
    </div>
</div>
</form>
