<div class="recipe-header row">
  <div class="col-md-3 col-md-offset-2">
    <div class="editable">
      <h2 class="recipe-title"><%= recipe.escape('title') %></h2>
      <div class="edit-title edit-button">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div id="recipe-show-img">
      <% if (recipe.escape('photo_url')) {%>
        <img src="<%= recipe.escape('photo_url') %>"
             alt="<%= recipe.escape('title') %>"
             class="img-responsive editable" />
        <div class="edit-photo edit-button">
          <span class="glyphicon glyphicon-pencil"></span>
        </div>
      <% } else {  %>
        <div class="img-placeholder">
          <div class="edit-photo edit-button">
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>

<div class="recipe-body row">
  <div class="col-lg-10 col-lg-offset-1">
    <div id="ingredients-wrapper">
      <div class="row">
        <div class="col-md-8 col-md-offset-1">
          <h3>Ingredients</h3>
        </div>
      </div>
        <div id="ingredient-entries"></div>
        <div class="row add-item-wrapper">
          <div class="add-entry show-add-item">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </div>
        </div>
    </div><!-- ingredients-wrapper -->

    <div id="steps-wrapper">
      <div class="row">
        <div class="col-md-8 col-md-offset-1">
          <h3>Directions</h3>
        </div>
      </div>
      <div id="recipe-steps"></div>
        <div class="row add-item-wrapper">
          <div class="add-step show-add-item">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </div>
        </div>
      </div>
    </div><!-- steps-wrapper -->
  </div>
</div><!-- recipe-body -->
