<div id="search">
    <form>
      <div class="col-md-10">
        <input class="form-control" type="search" value="" placeholder="enter an ingredient" />
      </div>
        <button type="submit" class="btn btn-info col-md-2">Search</button>
    </form>
</div>
