<form>
  <div class="form-group">
    <label for="recipe-title">Title</label>
    <input class="form-control"
            id="recipe-title"
            name="recipe[title]"
            value="<%= recipe.escape('title') %>">
  </div>

  <div class="form-group">
    <label for="recipe-photo-url">Photo URL</label>
    <input class="form-control"
            id="recipe-photo-url"
            name="recipe[photo_url]"
            value="<%= recipe.escape('photo_url') %>">
  </div>

  <div class="form-group">
    <label>Steps</label>
    <ol id="steps-forms">

    </ol>
  </div>

  <input class="btn btn-primary pull-right" type="submit" value="Submit Recipe">
</form>
