<div class="recipe-header row">
  <div class="col-lg-3 col-md-3">
    <div class="editable title-card">
      <h2 class="recipe-title"><%= recipe.escape('title') %></h2>
      <div class="edit-title edit-button">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
    </div>
  </div>

  <div class="col-lg-7 col-md-7">
    <div id="recipe-show-img">
      <% if (recipe.escape('photo_url')) {%>
        <img src="<%= recipe.escape('photo_url') %>"
             alt="<%= recipe.escape('title') %>"
             class="img-responsive editable" />
        <div class="edit-photo edit-button">
          <span class="glyphicon glyphicon-pencil"></span>
        </div>
      <% } else {  %>
        <div class="img-placeholder">
          <div class="edit-photo edit-button">
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>

<div class="recipe-body">
  <div class="ingredients-wrapper row">
        <div class="col-md-3 col-lg-3">
          <div class="bubble">
            <h3>Ingredients</h3>
          </div>
        </div>
        <div class="col-lg-7 col-md-7">
          <div id="ingredient-entries"></div>

          <div class="add-item-wrapper col-md-3">
            <div class="add-entry show-add-item">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </div>
          </div>
        </div>
    </div><!-- ingredients-wrapper -->


  <div class="steps-wrapper row">
        <div class="col-md-3 col-lg-3">
          <div class="bubble">
            <h3>Directions</h3>
          </div>
        </div>
      <div class="col-md-7 col-lg-7">
        <div id="recipe-steps"></div>
          <div class="row add-item-wrapper">
            <div class="add-step show-add-item">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </div>
          </div>
        </div>
      </div>
    </div><!-- steps-wrapper -->

    <div class="sidebar col-md-2">

    </div>
</div><!-- recipe-body -->
