<div class="recipe-header row">
  <div class="col-lg-12">
    <div class="editable">
      <h2 class="recipe-title"><%= recipe.escape('title') %></h2>
      <div type="button" class="edit-title edit-button">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
    </div>
  </div>
</div>

<div class="recipe-body row">
  <div class="col-lg-4 img-col">
    <div id="recipe-show-img">
      <% if (recipe.escape('photo_url')) {%>
        <img src="<%= recipe.escape('photo_url') %>"
             alt="<%= recipe.escape('title') %>"
             class="img-responsive editable" />
      <% } else {  %>
        <div class="img-placeholder"></div>
      <% } %>
      <div type="button" class="edit-photo edit-button">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
  </div>
  </div>

  <div class="col-lg-8">
    <div id="ingredients-wrapper">
      <h3>Ingredients</h3>
        <div class="add-entry show-add-item">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </div>
        <div id="ingredient-entries"></div>
    </div>

    <div id="steps-wrapper">
      <h3>Directions</h3>
        <div class="add-step show-add-item">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </div>
      <div id="recipe-steps"></div>
    </div>

  </div>
</div>
