/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require flatly_variables
 *= require font-awesome
 *= require_self
 *= require jquery.ui.datepicker
 *= require_tree .
 */

@import "bootstrap";

/*
 *  Recipe Index
 */
.recipes-index {
  margin: 20px auto;

  .recipe-link {
    display: block;

    .index-card {
      width: 400px;
      height: 300px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      display: inline-block;
      float: left;
      margin: 10px;
      border-radius: 10px;

      .recipe-img {
        float: left;
        width: 400px;
        z-index: -2;
      }

      .title-card {
        width: 100%;
        height: 50px;
        background-color: #ccc;
        z-index: 2;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}

/*
 *  Recipe Show
 */

.recipe-header {
  h2 {
    display: inline-block;
  }

  .edit-button {
    margin-left: 5px;
    margin-top: 5px;
  }

  .recipe-title .form-control {
    height: 50px;
    font-size: 1em;
  }

  .edit-recipe {
    margin: 0 0 10px 10px;
  }
}

.edit-button, .remove-item {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 5px;
  position: relative;
  z-index: 1;

  .glyphicon {
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
  }
}

.edit-button {
  display: none;
}

.editable:hover .edit-button {
  display: inline-block;
}

#ingredients-wrapper, #steps-wrapper{
  .add-item-wrapper {
    text-align: center;

    .show-add-item {
      visibility: hidden;
      color: #ccc;
      font-size: 2em;
    }
  }
}

#ingredients-wrapper:hover, #steps-wrapper:hover{
  .show-add-item {
    visibility: visible;
    display: inline-block;
  }
}

.img-form, .img-placeholder {
  width: 325px;
  height: 325px;
  background-color: #ccc;
  text-align: center;
  color: #fff;


  .form-group {
    padding-top: 90px;
    font-size: 1.5em;
  }
}

#recipe-show-img img, .img-form, .img-placeholder {
  border-radius: 20px;
}

#recipe-show-img:hover {
  position: relative;

  .img-placeholder {
    background-color: #ddd;
    position: relative;
  }

  .edit-button {
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    font-size: 1.75em;
  }
}

.recipe-body {
  margin-top: 30px;

  p  {
    padding: 10px 0;
    font-size: 1.5em;
    display: inline-block;
  }

  .ingredient-entry {
    p {
      padding: 10px 0 5px 0;
    }
  }
}

.step-buttons {
  padding: 0;
}

.edit-entry {
  margin-left: 10px;
}

/*
 * Recipe Form
 */
.title-form {
  min-width: 100px;
}

.add-item {
  text-align: center;
  font-size: 50px;
  color: #999;
  margin-top: 10px;
}

.edit-component {
  margin-bottom: 10px;
}

#submit {
  margin-bottom: 50px;
}

.entry-form {
  padding: 20px 0;
}

/*
 * Auth Modal
 */

.modal-dialog {
  margin-top: 60px;
}

.modal-content {
  padding: 30px;
}

.modal-body .form-control {
  width: 300px;
}

.modal-body form {
  margin-top: 30px;
}

.modal-footer {
  margin-top: 30px;
  p, .btn {
    margin: auto;
  }
}
