/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.recipes-index {
  margin: 20px auto;

  .recipe-link {
    display: block;

    .index-card {
      width: 400px;
      height: 300px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      display: inline-block;
      float: left;
      margin: 10px;
      border-radius: 10px;

      .recipe-img {
        float: left;
        width: 400px;
        z-index: -2;
      }

      .title-card {
        width: 100%;
        height: 50px;
        background-color: #ccc;
        z-index: 2;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}

ol, ol li{
  input {
    margin-top: -20px;
    margin-bottom: 20px
  }
}

.recipe-header {
  h2 {
    display: inline-block;
  }

  .edit-recipe {
    margin: 0 0 10px 10px;
  }
}
