/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require flatly_variables
 *= require font-awesome
 *= require_self
 *= require jquery.ui.datepicker
 *= require jquery.countdown.css
 *= require_tree .
 */

@font-face {
    font-family: 'tumblr-icons';
    src:font-url('fonts/tumblr-icons-v12.eot');
    src:font-urlurl('fonts/tumblr-icons-v12.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$body-bg: #28C1A3;

@import "bootstrap";

.navbar {
  height: 75px;
  width: 940px;
  margin: 0 auto;

  .navbar-header img {
    margin-top: 5px;
  }

  .navbar-nav {
    margin-top: 10px;

    li {
      margin: 0 5px;

      #logout-button {
        border: none;
        width: 40px;
        height: 40px;
        background-image: image-url("logout_icon.gif");
        background-color: transparent;
        background-size: cover;
      }
    }
  }
}



#content {
  background-color: #16A085;
  padding: 20px;
  border-radius: 15px;
  width: 900px;
}

/*
 *  Recipe Index
 */
.recipes-index {
  margin: 20px auto;

  .recipe-link {
    display: block;

    .index-card {
      width: 400px;
      height: 300px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      display: inline-block;
      float: left;
      margin: 10px;
      border-radius: 10px;

      .recipe-img {
        float: left;
        width: 400px;
        z-index: -2;
      }

      .title-card {
        width: 100%;
        height: 50px;
        background-color: #ccc;
        z-index: 2;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}

/*
 *  Recipe Show
 */

.recipe-show {
  width: 860px;
}

.recipe-header {

  h2 {
    display: inline-block;
  }

  .edit-button {
    margin-left: 5px;
    margin-top: 5px;
  }

  .recipe-title .form-control {
    height: 50px;
    font-size: 1em;
  }

  .edit-recipe {
    margin: 0 0 10px 10px;
  }
}

.edit-button, .remove-item {
// .close-timer, .restart-timer, .play-button

  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 5px;
  position: relative;
  z-index: 1;

  .glyphicon {
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
  }
}

.edit-button {
  display: none;
}

.ingredient-entry:hover .edit-button, .recipe-step:hover .edit-button {
  display: inline-block;
}

#recipe-show-img {
  max-height: 300px;
}

#ingredients-wrapper, #steps-wrapper{
  .add-item-wrapper {
    text-align: center;

    .show-add-item {
      visibility: hidden;
      color: #ccc;
      font-size: 2em;
    }
  }
}

#ingredients-wrapper:hover, #steps-wrapper:hover{

  .show-add-item {
    visibility: visible;
  }
}

.img-form, .img-placeholder {
  width: 325px;
  height: 325px;
  background-color: #ccc;
  text-align: center;
  color: #fff;


  .form-group {
    padding-top: 90px;
    font-size: 1.5em;
  }
}

.edit-ingredient, .edit-amount {
  padding-left: 0px;
}

#recipe-show-img img, .img-form, .img-placeholder {
  border-radius: 20px;
  max-height: 300px;
}

#recipe-show-img:hover {
  position: relative;

  .img-placeholder {
    background-color: #ddd;
    position: relative;
  }

  .edit-button {
    display: inline-block;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    font-size: 1.75em;
  }
}

.recipe-body {
  margin-top: 30px;
  margin-bottom: 60px;

  p  {
    padding: 10px 0;
    font-size: 1.5em;
    display: inline-block;
  }

  .ingredient-entry {
    p {
      padding: 5px 0 5px 0;
    }
    height: 50px;
    .ingredient-name {
      font-weight: bold;
    }
  }
}

.step-buttons {
  padding: 0;
}

.edit-entry {
  margin-left: 10px;
}

.add-annotation {
  height: 40px;
  background-color: #ccc;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  text-align: center;

  .glyphicon {
    font-size: 2em;
    margin-top: 7px;
    display: inline-block;
  }
}


/*
 * Timer
 */

 .step-timer {
   position: relative
 }

 .timer-cover {
   background-color: #000;
   border-radius: 10px;
   width: 100%;
   height: 50px;
   margin-left: 15px;
   color: #fff;
   visibility: hidden;
   z-index: 1;
   position: absolute;
   top: 0;
   left: 0;
 }

 .timer-controls {
   .play-button, .close-timer, .restart-timer {
     display: inline-block;
   }
 }

 @-webkit-keyframes flash {
   0%, 50%, 100% {opacity: 1;}
   25%, 75% {opacity: 0;}
 }

 @-moz-keyframes flash {
   0%, 50%, 100% {opacity: 1;}
   25%, 75% {opacity: 0;}
 }

 @-ms-keyframes flash {
   0%, 50%, 100% {opacity: 1;}
   25%, 75% {opacity: 0;}
 }

 @-o-keyframes flash {
   0%, 50%, 100% {opacity: 1;}
   25%, 75% {opacity: 0;}
 }

 @keyframes flash {
   0%, 50%, 100% {opacity: 1;}
   25%, 75% {opacity: 0;}
 }

 .flash {
   visibility: visible;
   -webkit-animation-duration: 1.5s;
   -moz-animation-duration: 1.5s;
   -ms-animation-duration: 1.5s;
   -o-animation-duration: 1.5s;
   animation-duration: 1.5s;
   -webkit-animation-name: flash;
   -moz-animation-name: flash;
   -ms-animation-name: flash;
   -o-animation-name: flash;
   animation-name: flash;
   -webkit-animation-iteration-count: 3;
   -moz-animation-iteration-count: 3;
   -ms-animation-iteration-count: 3;
   -o-animation-iteration-count: 3;
   animation-iteration-count: 3;
 }

/*
 * Recipe Form
 */
.title-form {
  min-width: 100px;
}

.add-item {
  text-align: center;
  font-size: 50px;
  color: #999;
  margin-top: 10px;
}

.edit-component {
  margin-bottom: 10px;
}

#submit {
  margin-bottom: 50px;
}

/*
 * Auth Modal
 */

.modal-dialog {
  margin-top: 60px;
}

.modal-content {
  padding: 30px;
}

.modal-body .form-control {
  width: 300px;
}

.modal-body form {
  margin-top: 30px;
}

.modal-footer {
  margin-top: 30px;
  p, .btn {
    margin: auto;
  }
}
