$light-green: #AEFFC2;

/*
 * Recipe Form
 */

.recipe-form h2 {
  text-align: center;
}

.randomator {
  margin-top: 20px;
}

button#random-recipe {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: $light-green;
  border-radius: 10px;
  border: none;
}

button#random-recipe:hover {
  background-color: #8AFFA3;
}

.recipe-form .form-horizontal {

  .add-item {
    text-align: center;
    font-size: 50px;
    color: $light-green;
    margin-top: 10px;
  }

  .form-group {
    text-align: center;
    font-size: 1.5em;
  }

  #submit {
    margin-bottom: 50px;
  }

  .control-label.bubble {
    height: 60px;
  }

  .control-label.bubble:before {
    top: 7px;
    border-width: 12px 0 12px 15px;

  }

  .form-control {
    height: 60px;
  }
}

#new-ingredients .ingredient-entry{
  padding-top: 10px;
  padding-bottom: 10px;
}

#new-ingredients .ingredient-entry:first-child {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

#new-ingredients .ingredient-entry:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

#form-header {
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px 40px;
  margin: 40px 0;

  input[placeholder] {
    font-size: 1.25em;
  }
}



#form-title {
  text-align: center;

  margin: 40px 0 20px 0;
}
