$text-color: #2C3E50;
$light-yellow: #B4F9FF;
$light-red: #FFAEAE;
$light-green: #AEFFC2;
$light-teal: #28C1A3;
$dark-teal: #16A085;
/*
 *  Recipe Show
 *  ===========
 */

/*  Header  */

.recipe-header {

  h2 {
    display: inline-block;
  }

  .title-card:hover {
    .edit-button {
      visibility: visible;
    }
  }

  .edit-button {
    margin-left: 5px;
    margin-top: 5px;
    visibility: hidden;
  }

  .recipe-title .form-control {
    font-size: 1em;
  }

  .edit-recipe {
    margin: 0 0 10px 10px;
  }
}

#recipe-show-img {
  position: relative;

  img {
    max-width: 500px;
    max-height: 500px;
  }

  .edit-button {
    position: absolute;
    left: 10px;
    bottom: 15px;
    width: 40px;
    height: 40px;
  }
}

.img-form, .img-placeholder {
  width: 325px;
  height: 325px;
  background-color: #ccc;
  text-align: center;
  color: #fff;

  .form-group {
    padding-top: 90px;
    font-size: 1.5em;
  }
}

#recipe-show-img img, .img-form, .img-placeholder {
  border-radius: 6px;
}

#recipe-show-img:hover {
  position: relative;

  .img-placeholder {
    background-color: #ddd;
    position: relative;
  }

  .edit-button {
    visibility: visible;
  }
}

/*  Components */

.entry-main, .step-main, .entry-form, .entry-inputs {
 z-index: 2;
 background-color: #fff;
}

.edit-button, .remove-item, .save-item {
// .close-timer, .restart-timer, .play-button

  width: 35px;
  height: 35px;
  border-radius: 5px;
  position: relative;
  z-index: 1;

  .glyphicon {
    position: absolute;
    top: 8px;
    left: 8px;
    color: $text-color;
    font-size: 1.5em;
  }
}

.edit-button {
  background-color: $light-yellow;
}

.remove-item {
  background-color: $light-red;
}

.save-item {
  background-color: $light-green;
}

.save-item, .remove-item {
  float: left;
  margin-right: 8px;
}

#ingredient-entries {
  margin-bottom: 20px;
}

#ingredients-wrapper, #steps-wrapper{
  .add-item-wrapper {
    text-align: center;

    .show-add-item {
      visibility: hidden;
      color: #ccc;
      font-size: 2em;
    }
  }
}

#ingredients-wrapper:hover, #steps-wrapper:hover{

  .show-add-item {
    visibility: visible;
  }
}

.add-item-tab.mobile {
  position: relative;
  top: -70px;
  -webkit-transition: top .5s ease-out;
  -moz-transition: top .5s ease-out;
  -o-transition: top .5s ease-out;
  transition: top .5s ease-out;
  z-index: 0;
}

.add-item-wrapper {
  background-color: $light-teal;
  margin-bottom: 20px;
  border-radius: 6px;

  p {
    margin-bottom: 0px;
  }

  .glyphicon {
    font-size: 1.5em;
  }
}

.ingredients-wrapper:hover .add-item-tab,
.steps-wrapper:hover .add-item-tab {
  top: 0px;
}

/*  Ingredient Entries */


.ingredient-entry {
  position: relative;

  .edit-entry-tab {
    position: relative;
    left: -150px;
    text-align: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-transition: left .3s ease-out;
    -moz-transition: left .3s ease-out;
    -o-transition: left .3s ease-out;
    transition: left .3s ease-out;

    .edit-entry {
      padding: 6px 0;
      float: right;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

.ingredient-entry:hover .edit-entry-tab {
  left: -67px;
}

.ingredient-entry:first-child .entry-main,
.ingredient-entry:first-child .entry-inputs {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.ingredient-entry:last-child .entry-main,
.ingredient-entry:last-child .entry-inputs {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.edit-entry {
  margin-left: 10px;
}

.entry-inputs {
  background-color: #fff;
  .col-md-2, .col-md-6 {
    padding: 8px 2px;
  }
}

.entry-edit-buttons {
  margin-top: 5px;
}

/*  Steps  */

.step-main {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
}

.recipe-step {
  margin-bottom: 20px;
}

.edit-ingredient, .edit-amount {
  padding-left: 0px;
}

.recipe-body {
  margin-top: 30px;
  margin-bottom: 60px;

  p  {
    padding: 10px 0;
    font-size: 1.5em;
    display: inline-block;
  }

  .ingredient-entry {
    p {
      padding: 5px 0 5px 0;
    }
    height: 50px;
    .ingredient-name {
      font-weight: bold;
    }
  }
}

.add-annotation {
  height: 40px;
  background-color: #ccc;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  text-align: center;

  .glyphicon {
    font-size: 2em;
    margin-top: 7px;
    display: inline-block;
  }
}


/*  Timer  */

 .step-timer {
   position: relative
 }

 .timer-cover {
   background-color: #000;
   border-radius: 10px;
   width: 100%;
   height: 50px;
   margin-left: 15px;
   color: #fff;
   visibility: hidden;
   z-index: 1;
   position: absolute;
   top: 0;
   left: 0;
 }

 .timer-controls {
   .play-button, .close-timer, .restart-timer {
     display: inline-block;
   }
 }

 @-webkit-keyframes flash {
   0%, 50%, 100% {opacity: 1;}
   25%, 75% {opacity: 0;}
 }

 @-moz-keyframes flash {
   0%, 50%, 100% {opacity: 1;}
   25%, 75% {opacity: 0;}
 }

 @-ms-keyframes flash {
   0%, 50%, 100% {opacity: 1;}
   25%, 75% {opacity: 0;}
 }

 @-o-keyframes flash {
   0%, 50%, 100% {opacity: 1;}
   25%, 75% {opacity: 0;}
 }

 @keyframes flash {
   0%, 50%, 100% {opacity: 1;}
   25%, 75% {opacity: 0;}
 }

 .flash {
   visibility: visible;
   -webkit-animation-duration: 1.5s;
   -moz-animation-duration: 1.5s;
   -ms-animation-duration: 1.5s;
   -o-animation-duration: 1.5s;
   animation-duration: 1.5s;
   -webkit-animation-name: flash;
   -moz-animation-name: flash;
   -ms-animation-name: flash;
   -o-animation-name: flash;
   animation-name: flash;
   -webkit-animation-iteration-count: 3;
   -moz-animation-iteration-count: 3;
   -ms-animation-iteration-count: 3;
   -o-animation-iteration-count: 3;
   animation-iteration-count: 3;
 }
