$text-color: #2C3E50;
$light-blue: #B4F9FF;
$light-red: #FFAEAE;
$light-green: #AEFFC2;
$light-teal: #28C1A3;
$dark-teal: #16A085;
$light-purple: #B4BEFF;
$light-pink: #FFB4F7;

/*
 *  Recipe Show
 *  ===========
 */

/*  Header  */

.recipe-header {

  h2 {
    display: inline-block;
  }

  .title-card {
    padding-bottom: 40px;
  }

  .title-card:hover {
    .edit-button {
      visibility: visible;
    }
  }

  .edit-button, .save-item {
    margin: 5px;
  }

  .edit-button {
    visibility: hidden;
  }

  textarea {
    font-size: 2em;
    display: block;
  }

  .edit-recipe {
    margin: 0 0 10px 10px;
  }
}

#recipe-show-img {
  position: relative;

  img {
    max-width: 500px;
    max-height: 500px;
  }

  .edit-button {
    position: absolute;
    left: 10px;
    bottom: 15px;
    width: 40px;
    height: 40px;
  }
}

.img-form, .img-placeholder {
  width: 90%;
  height: 100px;
  background-color: $light-teal;
  text-align: center;
    .form-group {
      font-size: 1.5em;
      input {
        height: 40px;
      }
    }
}

#recipe-show-img img, .img-form, .img-placeholder {
  border-radius: 6px;
}

#recipe-show-img:hover {
  position: relative;

  .edit-button {
    visibility: visible;
  }
}

/*  Components */

.entry-main, .step-main, .entry-form, .entry-inputs {
 z-index: 2;
 background-color: #fff;
}

.edit-button, .remove-item, .save-item,
.add-timer, .add-video, .button {

  width: 35px;
  height: 35px;
  border-radius: 5px;
  position: relative;
  z-index: 1;

  .glyphicon {
    position: absolute;
    top: 8px;
    left: 8px;
    color: $text-color;
    font-size: 1.5em;
  }
}

.edit-button {
  background-color: $light-blue;
}

.button.edit-btn:after {
  content: "\270f";
  position: absolute;
  top: 8px;
  left: 8px;
  color: $text-color;
  font-size: 1.5em;
}

.remove-item {
  background-color: $light-red;
  .glyphicon-trash {
    left: 6px;
  }
}

.save-item {
  background-color: $light-green;
}

.add-video {
  background-color: $light-purple;
}

.add-timer {
  background-color: $light-pink;
}

.save-item, .remove-item {
  float: left;
  margin-right: 8px;
}

#ingredient-entries {
  margin-bottom: 20px;
}

#ingredients-wrapper, #steps-wrapper{
  .add-item-wrapper {
    text-align: center;

    .show-add-item {
      visibility: hidden;
      color: #ccc;
      font-size: 2em;
    }
  }
}

#ingredients-wrapper:hover, #steps-wrapper:hover{

  .show-add-item {
    visibility: visible;
  }
}

.add-item-tab.mobile {
  position: relative;
  top: -70px;
  -webkit-transition: top .5s ease-out;
  -moz-transition: top .5s ease-out;
  -o-transition: top .5s ease-out;
  transition: top .5s ease-out;
  z-index: 0;
}

.add-item-wrapper {
  background-color: $light-teal;
  margin-bottom: 20px;
  border-radius: 6px;

  p {
    margin-bottom: 0px;
  }

  .glyphicon {
    font-size: 1.5em;
  }
}

.ingredients-wrapper:hover .add-item-tab,
.steps-wrapper:hover .add-item-tab {
  top: 0px;
}

.steps-wrapper {
  margin-top: 20px;
}

/*  Ingredient Entries */


.ingredient-entry {
  position: relative;
}

.edit-tab {
  position: relative;
  left: -150px;
  text-align: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-transition: left .3s ease-out;
  -moz-transition: left .3s ease-out;
  -o-transition: left .3s ease-out;
  transition: left .3s ease-out;

  .edit-button {
    padding: 6px 0px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .add-timer, .edit-step {
    float: left;
    margin-left: 10px;
    margin-right: 8px;
  }

  .add-video {
    float: left;
  }

  .annotation-buttons {
    margin-top: 5px;
  }
}

.ingredient-entry:hover .edit-tab, .recipe-step:hover .edit-tab {
  left: 0px;
}

.ingredient-entry:first-child .entry-main,
.ingredient-entry:first-child .entry-inputs {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.ingredient-entry:last-child .entry-main,
.ingredient-entry:last-child .entry-inputs {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.entry-inputs {
  background-color: #fff;
  .col-md-2, .col-md-6 {
    padding: 8px 2px;
  }
}

.entry-edit-buttons {
  margin-top: 5px;
}

/*  Steps  */

.step-main {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
}

.recipe-step {
  margin-bottom: 20px;
}

.recipe-body {
  margin-top: 30px;
  margin-bottom: 60px;

  p  {
    padding: 10px 0;
    font-size: 1.5em;
    display: inline-block;
  }

  .ingredient-entry {
    p {
      padding: 5px 0 6px 10px;
    }
    height: 50px;
    .ingredient-name {
      font-weight: bold;
    }
  }
}

.add-annotation {
  height: 40px;
  background-color: #ccc;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  text-align: center;

  .glyphicon {
    font-size: 2em;
    margin-top: 7px;
    display: inline-block;
  }
}

.img-placeholder label, #photo-input {
  margin-top: 20px;
}

.img-placeholder h3 {
  padding-top: 20px;
}

iframe.step-video {
  width: 480px;
  height: 300px;
}

.step-timer, .timer-form, .step-video, .video-form {
  margin: 10px 0;
}
