$text-color: #2C3E50;
$light-teal: #28C1A3;
$dark-teal: #16A085;
$light-blue: #B4F9FF;

/*
 *  Recipe Index
 */
.recipes-index {

  .recipe-wrapper {
    margin: 20px;
  }

  a {
    text-decoration: none;
  }

  .title-card:hover {
    text-decoration: none;
    .edit-item {
      visibility: visible;
    }
  }

  .index-card {
    overflow: hidden;
    border-radius: 6px;
    background-color: #fff;

    .recipe-img {
      float: left;
      width: 90%;
      margin: 5%;
      border-radius: 6px;
    }
  }

  #index-nav {
    margin-left: 50px;
    .btn {
      padding: 10px 20px;
      margin-bottom: 20px;
      font-size: 1.5em;
    }
  }
}

.recipe-show {
  margin: 20px;
  .title-card, .bubble {
    min-height: 150px;

  }
}

.title-card, .bubble {
  z-index: 2;
  border: 1px solid white;
  color: #2C3E50;
  border-radius: 6px;
  display: block;
  width: 90%;
  margin: 0 5%;
  padding: 20px;
  position: relative;
  overflow: auto;

  h4 {
    margin-top: 15px;
  }
}

.title-card {
  background-color: #fff;
}

.bubble {
  background-color: $light-teal;
  border: 1px solid $light-teal;
}



.title-card:before, .bubble:before {
  content: "";
  position: absolute;
  top: 25px;
  right: -15px;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent inherit;
  display: block;
  width: 0;
  z-index: 1;
}

#back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right:30px;
  display:none;
}

.index-placeholder {
  width: 90%;
  margin: 5%;
  text-align: center;
  color: #999;
}

@media all and (max-width: 915px) {

  .title-card {
    min-height: 60px;
    padding-top: 0px;
  }
  .bubble:before, .title-card:before {
    display: none;
  }
}
