<div class="col-md-10 col-md-offset-1">
  <div class="recipes">
      <% recipes.each(function (recipe) { %>
        <div class="index-card">
          <div class="title-card">
            <%= recipe.escape('title') %>
          </div>
          <img class="recipe-img"
                src="<%= recipe.escape('photo_url') %>"
                alt="<%= recipe.escape('title') %>" />
        </div>
      <% }) %>
  </div>
</div>
