<div id="auth-modal" class="modal fade">
<div class="modal-dialog">
  <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <ul class="nav nav-tabs auth-nav">
      <li id="sign-in-tab"><a href="#sign-in">Sign In</a></li>
      <li id="sign-up-tab"><a href="#sign-up">Sign Up</a></li>
    </ul>

    <div class="modal-body">
      <div class="tab-content">
        <div class="tab-pane" id="sign-in">
          <%= render "sessions/new" %>
        </div>
        <div class="tab-pane" id="sign-up">
          <%= render "users/new" %>
        </div>
      </div>
    </div>

    <div class="modal-footer">
    <p>or</p>
    <%= button_to "Sign in as Guest", session_guest_sign_in_url,
              method: :get, class: "btn btn-info" %>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
