<nav class="navbar" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="#"><%= image_tag("logo.gif", height: "80") %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right plain-navbar">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-home"></span>
            </a>
          </li>
          <li>
            <a href="#recipes/new">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </li>
          <li>
            <a href="#mycookbook">
              <span class="glyphicon glyphicon-book"></span>
            </a>
          </li>
          <li>
            <a href="#recipes/search">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </li>
          <li>
            <%= link_to raw("<span class='glyphicon glyphicon-off'></span>"),
                  session_url, method: :delete %>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
