<nav class="navbar" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="#"><%= image_tag("logo.gif", height: "80") %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><%= image_tag("home_icon.gif", height: "40") %></a>
          </li>
          <li>
            <%= button_to "", session_url, class: "pull-right",
                  id: "logout-button", method: :delete %>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
